@model ContosoUniversity.Models.Department

@{
    ViewData["Title"] = "Department Info";
}

    <h1>Details for @Html.DisplayFor(model => model.Name) Department</h1>

<div>
<hr />
<br /><br /><br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="index">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                    <hr />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Budget)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Budget)
                    <hr />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                    <hr />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.RowVersion)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RowVersion)
                    <hr />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Administrator)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Administrator.FullName)
                    <hr />
                </dd>
            </dl><div>
                <a asp-action="Edit" asp-route-id="@Model.DepartmentID">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>>
</div>

