@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Delete Student Record";
}

<h1>Delete Student Record</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete @Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)'s records?</h3>
<div>
    <hr /><br /><br /><br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <dl class="row" id="index">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                    <hr />
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                    <hr />
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstMidName)
                    <hr />
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstMidName)
                    <hr />
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EnrollmentDate)
                    <hr />
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EnrollmentDate)
                    <hr />
                </dd>
            </dl><form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
