@model ContosoUniversity.Models.Student

@{
    ViewData["Title"] = "Student Information";
}

    <h2>Student Information for @Html.DisplayFor(model => model.FirstMidName) @Html.DisplayFor(model => model.LastName)</h2>
<div>
 
    <hr /><br /><br /><br />
    <div class="row">
        <div class="col-md-6" >
            <div class="row" id="index">
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.LastName)
                    <hr />
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.LastName)
                    <hr />
                </div>

            </div>
            <div class="row" id="index">
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.FirstMidName)
                    <hr />
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.FirstMidName)
                    <hr />
                </div>

            </div>
            <div class="row" id="index">
                <div class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EnrollmentDate)
                </div>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.EnrollmentDate)
                </div>

            </div>
        </div>
        <div class="col-md-6">

            <table class="table">
                <tr class="titleHead">
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<div>
    <br /><br />
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


