@model ContosoUniversity.Models.Course

@{
    ViewData["Title"] = "Remove Course";
}

<h1>Delete</h1>

<h3>Do you want to delete the @Html.DisplayFor(model => model.Title) course?</h3>
<div>
    <hr /><br /><br /><br />
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <dl class="row" id="index">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseID)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseID)
                    <hr />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                    <hr />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Credits)
                    <hr />
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Credits)
                    <hr />
                </dd>
                <dt class="col-sm-2" >
                    @Html.DisplayNameFor(model => model.Department)
                    <hr />
                </dt>
                <dd class="col-sm-10" >
                    @Html.DisplayFor(model => model.Department.Name)
                    <hr />
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="CourseID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        </div></div>
