@model ContosoUniversity.Models.Course

@{
    ViewData["Title"] = "Remove Course";
}

<h1>Delete</h1>

<h3>Do you want to delete @Html.DisplayFor(model => model.Title)?</h3>
<div>
    <h4>Course</h4>
    <hr /><br /><br /><br />
    <div class="row">

        <div class="col-md-2"></div>
        <div class="col-md-8" id="index">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CourseID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CourseID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Credits)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Credits)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Department.Name)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="CourseID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
        </div></div>
